// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$title-color: #1c2438;
$success-color: darken($brand-success, 5%);
$primary-color: darken($brand-primary, 5%);
$warning-color: darken($brand-warning, 5%);
$danger-color: darken($brand-danger, 5%);
$gray-dark: $text-color;
$legend-color: $gray-dark;

// Animation
$animation-time: 0.3s;
$transition-time: 0.2s;

// Custom elements
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-down: 0 1px 6px $shadow-color;
$shadow-base: $shadow-down;

$border-radius-small: 3px;
$notice-width: 335px;
$notice-padding: 16px;
$notice-margin-bottom: 10px;

@mixin close-base($top: 0, $icon-font-size: 22px) {
  font-size: $icon-font-size;
  color: $legend-color;
  transition: color $transition-time ease;
  position: relative;
  top: $top;

  &:hover {
    color: #444;
  }
}
